/* Global override */
html,body,h1,h2,h3,h4,p,div,a,ul,li,span{
    margin:0;
    padding:0;
}
html{
    height: 100%;
}
body{
    position:relative;
    height: 100%;
}
#red{
    background:red;
    height: 10%;
}
.parent{
    height: 80%;
}
#yellow{
    background: yellow;
    float: left;
    width: 33.33%;
    height: 100%;
}
#green{
    background:green;
    float: left;
    width: 33.33%;
    height: 100%;
}
#blue{
    background:blue;
    width: 100%;
    height: 100%;
}

#purple{
    background:purple;
    height: 10%;
    clear:both;
}